body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #020617;
}

.logo {
  height: 100px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px;
}

.btn {
  background: #38bdf8;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.doctor {
  display: flex;
  padding: 40px;
}

.doctor img {
  width: 250px;
  border-radius: 10px;
}