body{
margin:0;
font-family:Arial;
background:#f5fbff;
}

header{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px;
background:#0077b6;
color:white;
}

.logo{width:60px}

.hero{
text-align:center;
padding:70px;
background:linear-gradient(135deg,#0077b6,#00b4d8);
color:white;
}

.hero2{
text-align:center;
padding:50px;
background:#023e8a;
color:white;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
padding:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
text-decoration:none;
color:black;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* AI BOX */
#aiBox{
position:fixed;
bottom:80px;
right:20px;
width:280px;
background:white;
display:none;
box-shadow:0 0 10px rgba(0,0,0,0.2);
border-radius:10px;
}

#aiHeader{
background:#0077b6;
color:white;
padding:10px;
}

#aiBody{
height:180px;
overflow:auto;
padding:10px;
font-size:13px;
}

#aiInput{
width:100%;
padding:10px;
border:none;
border-top:1px solid #ccc;
}

.aiBtn{
position:fixed;
bottom:20px;
right:20px;
background:#0077b6;
color:white;
padding:12px;
border-radius:50px;
border:none;
}

.wp{
position:fixed;
bottom:20px;
left:20px;
background:#25D366;
color:white;
padding:12px;
border-radius:50px;
text-decoration:none;
}